#bookView{
    width: 400px;
    height: 800px;
    background-color: #0D3240;
    border-radius: 16px;
    padding: 16px;
}

#title{
    text-align: center;
}

#imgBook{
    height: 200px;
    object-fit: contain;
    background-color: #124758;
    width: -webkit-fill-available;
    padding: 24px 0px;
    border-radius: 16px;
}

#aboveInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

#overview{
    flex-direction: column;
}

#aboveInfo{
    flex-direction: row;
}

#priceTag{
    color: #DA615D;
}

#likeIt{
    flex-direction: row;
}

