#commentSection{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "a a a a b";
    gap: 16px;
}

#newComment{
    height: 26px;
    grid-area: a;
    border-radius: 8px;
    background-color: #124758;
    border: 1px solid;
}

#sendComment{
    width: 32px;
    height: 32px;
    padding: 0px;
    grid-area: b;
    border-radius: 8px;
    background-color: #124758;
    border: 1px solid;
}

.paperplane{
    height: 32px;
    width: 32px;
    object-fit: contain;
}